<!-- ABOUT US -->
<div class="about" style="padding: 10rem 3rem 0 3rem">
    <h1 style="color: #1152ae; text-align: center; margin-bottom: 2rem;">ABOUT US</h1>
    <p style="text-align: center; font-family: Lora, serif; font-weight: 600;">
      Our hostel is a place where you can feel at home. We have a team of experienced staff who
      All candidates should be present in the Examination Hall 15 minutes before the time of commencement of
      Examinations. No student will be allowed into examination hall after that time.
      Students has to
    </p>
  </div>