<!-- -------------------------FACILITYS -------------------------------------->
<div class="outer-container facility">
  <h1><span>FACILITES</span></h1>
  <div class="container">
    <div class="fCard">
      <div class="fCard-img">
        <img src="f1.png">
      </div>
      <div class="fCard-txt">
        <h3>CCTV Servaliance</h3>
      </div>
    </div>
    <div class="fCard">
      <div class="fCard-img">
        <img src="f2.png">
      </div>

      <div class="fCard-txt">
        <h3>Library</h3>
      </div>

    </div>
    <div class="fCard">
      <div class="fCard-img">
        <img src="f3.png">
      </div>

      <div class="fCard-txt">
        <h3>Hospital</h3>
      </div>

    </div>

    <div class="fCard">
      <div class="fCard-img">
        <img src="f4.png">
      </div>

      <div class="fCard-txt">
        <h3>More</h3>
      </div>

    </div>
  </div>
</div>