<!-------------------------------- HOSTEL LIFE CARD --------------------------------->
<div class="outer-container not">
    <h1><span>HOSTEL</span> LIFE</h1>
    <div class="container">
      <div class="card" id="card4">
        <div class="card-img"><img src="sport.jpg"></div>
        <div class="card-text">
          <h1>SPORTS</h1>
          <p>Access a range of sports activities and facilities. Our hostel supports diverse sports, ensuring you stay
            active and engaged.</p>
          <button>Explore</button>
        </div>
      </div>
      <div class="card" id="card5">
        <div class="card-img"><img src="dance.jpg"></div>
        <div class="card-text">
          <h1>EVENTS</h1>
          <p>Participate in exciting events like festivals and workshops. Our hostel’s vibrant environment keeps you
            connected with the community</p>
          <button>Explore</button>
        </div>
      </div>
      <div class="card" id="card6">
        <div class="card-img"><img src="club.jpeg"></div>
        <div class="card-text">
          <h1>CLUBS</h1>
          <p>Join various clubs and activities.Our hostel offers opportunities to connect with peers and pursue
            interests, enriching your experience.</p>
          <button>Explore</button>
        </div>
      </div>
    </div>
  </div>
