<!-------------------- IMAGE SLIDER --------------------->
<div class="slide-container">
    <div class="slides activeSlide" attr="0">
      <div class="img-container">
        <img src="slide_1 (2).jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>
    <div class="slides" attr="1">
      <div class="img-container">
        <img src="slide_2 (2).jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>
    <div class="slides" attr="2">
      <div class="img-container">
        <img src="slide_3.jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>
    <div class="slides" attr="3">
      <div class="img-container">
        <img src="silde_4 (2).jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>
    <div class="slides" attr="4">
      <div class="img-container">
        <img src="slide_5.jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>
    <div class="slides" attr="5">
      <div class="img-container">
        <img src="silde_6 (2).jpg">
      </div>
      <div class="slide-text">
        <h1>Welcome to our Hostel</h1>
        <p>Our hostel is a place where you can feel at home</p>
        <button>Explore More</button>
      </div>
    </div>

    <div class="btn-dot">
      <span class="prev btn">&#10094;</span>
      <div class="dot-container">
        <div class="dot active" attr="0"></div>
        <div class="dot" attr="1"></div>
        <div class="dot" attr="2"></div>
        <div class="dot" attr="3"></div>
        <div class="dot" attr="4"></div>
        <div class="dot" attr="5"></div>
      </div>
      <span class="next btn">&#10095;</span>
    </div>
  </div>
  </div>
