 <!--------------------- INFINITE PLACEMENT SLIDER --------------------------->
 <div class="slider">
    <div class="slide-track">
      <div class="slide"><img src="tcs.svg" alt=""></div>
      <div class="slide"><img src="ibm.svg" alt=""></div>
      <div class="slide"><img src="epam.svg" alt=""></div>
      <div class="slide"><img src="capgemini.svg" alt=""></div>
      <div class="slide"><img src="accenture.svg" alt=""></div>
      <div class="slide"><img src="Wipro.svg" alt=""></div>
      <div class="slide"><img src="Simens.svg" alt=""></div>
      <div class="slide"><img src="Infosys.svg" alt=""></div>
      <div class="slide"><img src="HCL.svg" alt=""></div>
      <div class="slide"><img src="DBS.svg" alt=""></div>
      <div class="slide"><img src="Byju.svg" alt=""></div>
      <div class="slide"><img src="Amazon.svg" alt=""></div>
      <div class="slide"><img src="tcs.svg" alt=""></div>
      <div class="slide"><img src="ibm.svg" alt=""></div>
      <div class="slide"><img src="epam.svg" alt=""></div>
      <div class="slide"><img src="capgemini.svg" alt=""></div>
      <div class="slide"><img src="accenture.svg" alt=""></div>
      <div class="slide"><img src="Wipro.svg" alt=""></div>
      <div class="slide"><img src="Simens.svg" alt=""></div>
      <div class="slide"><img src="Infosys.svg" alt=""></div>
      <div class="slide"><img src="HCL.svg" alt=""></div>
      <div class="slide"><img src="DBS.svg" alt=""></div>
      <div class="slide"><img src="Byju.svg" alt=""></div>
      <div class="slide"><img src="Amazon.svg" alt=""></div>
    </div>
  </div>
