<!-------------------------------- HOSTEL REGISTERSTION CARD --------------------------------->
<div class="outer-container">
    <h1><span>VIGNAN</span> HOSTEL</h1>
    <div class="container">
      <div class="card" id="card1">
        <div class="card-img"><img src="slide1.jpeg"></div>
        <div class="card-text">
          <h1>Hostels for Men</h1>
          <p>There are 14 blocks allotted for Men of capacity varying from 200 to 1000 students in each block. The total
            capacity for Men’s hostel is about 7500.</p>
          <button>Explore</button>
        </div>
      </div>
      <div class="card" id="card2">
        <div class="card-img"><img src="slide1.jpeg"></div>
        <div class="card-text">
          <h1>Hostels for Women</h1>
          <p>There are 7 blocks allotted for Women students of capacity varying from 250 to 700 in each block. The total
            capacity for Women’s hostel is 4000.</p>
          <button>Explore</button>
        </div>
      </div>
      <div class="card" id="card3">
        <div class="card-img"><img src="slide2.jpeg"></div>
        <div class="card-text">
          <h1>International Hostel</h1>
          <p>International students come in huge numbers to SRM for its outstanding learning environment that fulfills
            their academic aspirations.500 dsf dsffsf</p>
          <button>Explore</button>
        </div>
      </div>
    </div>
  </div>