 <!----------------------------- RULES AND REGULATIONS ------------------------------------>
 <div class="rules-container">
    <h2>Hostel Rules and Regulations</h2>
    <ul id="rules-list">
      <li>No ragging is allowed under any circumstances.</li>
      <li>Do not harm or damage hostel infrastructure.</li>
      <li>Maintain non-violence at all times.</li>
      <li>Respect fellow hostel mates and staff.</li>
      <li>Follow the daily curfew and other hostel timings.</li>
      <li>Keep the hostel premises clean and tidy.</li>
    </ul>
  </div>