 <!-- /*-------------------------------------- Foootter ------------------------------------*/ -->
 <footer>
    <div class="footmain">
      <img src="foot_logo-removebg-preview.png" alt="Logo">
      <div class="foot_address">
        <div class="foot_content1">
          <span class="foot_heading">Reach us</span>
          Vignan's University, Vadlamudi,<br>Guntur-522213, Andhra Pradesh,<br>India
        </div>
        <div class="foot_content">
          <span class="foot_heading">Contact us</span>
          <i class="fa-solid fa-phone"></i> +91-863-2344777 / 86 <br>
          <i class="fa-solid fa-phone"></i> +91-7093144415<br>
          <i class="fa-solid fa-phone"></i> 1800-425-2529
          <div class="foot_directions">
            <a href="directions.html">How to reach us</a>
            <button class="Reach_button">
              <div class="Reach_button-box">
                <span class="Reach_button-elem">
                  <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                  </svg>
                </span>
                <span class="Reach_button-elem">
                  <svg viewBox="0 0 46 40">
                    <path
                      d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                  </svg>
                </span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="foot_reg">
        <span class="foot_heading">Registration</span>
        <div class="foot_content">
          content<br>
          content<br>
          content<br>
          content<br>
          content<br>
          content<br>
        </div>
      </div>
      <div class="foot_student">
        <span class="foot_heading">Student</span>
        <div class="foot_content">
          <a href="#id">My Profile</a><br>
          content<br>
          content<br>
          content<br>
          content<br>
          <a href="#id">Feedbacks</a><br>
        </div>
      </div>
      <div class="foot_Facilities">
        <span class="foot_heading">Facility</span>
        <div class="foot_content">
          content<br>
          content<br>
          content<br>
          content<br>
          content<br>
          content<br>
        </div>
      </div>

    </div>
    <div class="foot_bottom">
      <div class="copyright">Copyrights © 2024 VFSTR. All rights reserved.</div>
      <div class="social-icons">
        <a href="https://x.com/VFSTR_Vignan/status/1828998287279689856" target="_blank"> <i
            class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/vignanuniversityofficial/" target="_blank"> <i
            class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@VignanUniversityAP" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.facebook.com/vignanuniversityofficial/" target="_blank"><i
            class="fa-brands fa-facebook"></i></a>
      </div>
    </div>
  </footer>