<!-- NAVBAR -->

<div class="header">
    <section>
      <nav class="nav-bar">
        <div class="nav-logo">
          <picture>
            <source media="(min-width:989px)" srcset="logo.png">
            <source media="(min-width:620px)" srcset="logo.png">
            <img src="logo.png" alt="Flowers" style="width:auto;">
          </picture>
        </div>

        <div class="nav-link">
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="#">Hostel Life</a></li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">Facility</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div>

        <div class="nav-button">
          <button>Login</button>
        </div>
        <div class="toggle">
          <i class="ri-menu-line nav-toggle-btn"></i>
        </div>
      </nav>
    </section>
    <div class="toggle-nav-link ">
      <h2><i class="ri-close-fill nav-toggle-btn"></i></h2>
      <ul>
        <li><a href="/main">Home</a></li>
        <li><a href="#">Hostel Life</a></li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">Facility</a></li>
        <li><a href="#">contact us</a></li>
        <div class="toggle-nav-button">
          <button>Login</button>
        </div>
      </ul>
    </div>
  </div>
